@import '../../sass/colors.scss';

.appointment-btn {
    background: $color-blue;
    color: $color-white;
    padding: 14px 20px;
    text-decoration: none;
    border-radius: 15px;
    transition: .3s;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
    display: inline-block;

    &:hover {
        background: $color-white;
        color: $color-blue;
        border: 1px solid $color-blue;
    }
}

.text-right {
    text-align: right;
}

.form-group {
    margin-bottom: 20px;
    
    label {
        text-transform: uppercase;
        color: #1819458a;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .form-control {
        height: 40px;
        border-radius: 14px;
        border: 1.5px dashed #511c17ea;
    }

    textarea {
        height: 100px !important;
    }
}

.call-text{
    a {
        color: black;
        text-decoration: none;

        &:hover {
            color: #9c5147eb;
            text-decoration:underline;
          }
    }
}

.phone-input-group {
    position: relative;
}

.phone-input::placeholder {
    color: #999;
}

